@use "../../../styles/variables";

.icon-button {
  border: none;
  border-radius: 0.25em;
  transition: variables.$transition-fast;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  &[data-highlight="true"] {
    background-color: variables.$foreground;
    color: variables.$background;

    &:hover, &:focus {
      background-color: variables.$foreground-hover;
    }
  }

  &[data-highlight="false"] {
    background-color: variables.$background;
    color: variables.$foreground;

    &:hover, &:focus {
      background-color: variables.$background-hover;
    }
  }

  &[data-size="1"] {
    padding: 0.5em;
  }

  &[data-size="1.5"] {
    padding: 0.75em;
  }

  &[data-size="2"] {
    padding: 1em;
  }

  &[data-size="3"] {
    padding: 1.5em;
  }

  &[data-size="4"] {
    padding: 2em;
  }
}
