@use "../../../styles/variables";

.input-options {
  position: relative;
  width: 100%;
  min-height: 2rem;

  display: grid;

  &__option {
    width: 100%;
    height: 100%;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    cursor: pointer;
    transition: variables.$transition-fast;

    &:hover, &:focus {
      background-color: variables.$background-secondary;
    }

    &[data-selected="true"] {
      background-color: variables.$foreground;
      color: variables.$background;

      &:hover, &:focus {
        background-color: variables.$foreground-hover;
      }
    }
  }
}
