@use "../../../styles/variables";

.mario-control {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  padding-right: 0.5rem;

  &__team {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__points {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 0.5rem;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        width: 100%;
        aspect-ratio: 1;
        font-weight: 700;

        &[data-positive="true"] {
          background-color: variables.$mario-positive;
          border: 0.25rem solid darken(variables.$mario-positive, 25);
        }

        &[data-positive="false"] {
          background-color: variables.$mario-negative;
          border: 0.25rem solid darken(variables.$mario-negative, 25);
        }

        &:active, &:focus {
          animation: 400ms forwards mario-control__button;
        }
      }
    }
  }
}

@keyframes mario-control__button {
  0% {
    scale: 1;
    filter: grayscale(0);
  }
  33% {
    scale: 0.9;
    filter: grayscale(1);
  }
  66% {
    scale: 1.2;
    filter: grayscale(0.5);
  }
  100% {
    scale: 1;
    filter: grayscale(0);
  }
}
