@use "../../styles/variables";

.breadcrumbs {
  padding: 0.5rem 1rem;
  border-radius: 0.25em;
  user-select: none;
  cursor: pointer;

  &:hover, &:focus-within {
    background-color: variables.$background-hover;
  }
}
