@use "../../styles/variables";

.breadcrumbs {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  user-select: none;
  cursor: pointer;
  transition: variables.$transition-fast;

  &:hover, &:focus-within {
    background-color: variables.$background-hover;
  }
}
