@use "../../styles/variables";

.row {
  width: 100%;

  flex-direction: row;

  &[data-gap="0"] {
    gap: 0;
  }

  &[data-gap="1"] {
    gap: 1rem;
  }

  &[data-gap="2"] {
    gap: 2rem;
  }

  &[data-gap="4"] {
    gap: 4rem;
  }

  &[data-gap="6"] {
    gap: 6rem;
  }

  &[data-gap="8"] {
    gap: 8rem;
  }
}
