@use "normalize";
@use "variables";
@use "typography";

*, :before, :after {
  all: unset;
  box-sizing: border-box;
  display: flex;
}

head, script, style, link {
  display: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'geist', sans-serif;
  background-color: variables.$background;
  color: variables.$foreground;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 2rem;
}

::selection {
  background-color: variables.$foreground;
  color: variables.$background;
}

::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: variables.$foreground;
}
