@use "variables";
@use "typography";

body {
  margin: 0;
  font-family: 'geist', sans-serif;
  background-color: variables.$background;
  color: variables.$foreground;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}
