@use "normalize";
@use "variables";
@use "typography";

*, :before, :after {
  all: unset;
  box-sizing: border-box;
  display: flex;
}

head, script, style, link {
  display: none;
}

body {
  margin: 0;
  font-family: 'geist', sans-serif;
  background-color: variables.$background;
  color: variables.$foreground;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}
