@use "variables";

@font-face {
  font-family: "geist";
  font-display: swap;
  src: url("/assets/geist.woff2") format("woff2");
}

@font-face {
  font-family: "geist-mono";
  font-display: swap;
  src: url("/assets/geist-mono.woff2") format("woff2");
}

@font-face {
  font-family: "icon";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/icon.woff2") format('woff2');
}

body {
  font-family: "geist", sans-serif, monospace;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, p, small, a {
  display: inline;
  margin: 0;
  font-family: "geist", sans-serif;
  word-break: break-word;
  max-width: 80ch;
}


h1 {
  font-size: 3.5672rem;
  line-height: 1.25;
  font-weight: 800;

  @media screen and (max-width: variables.$l) {
    font-size: 3.2928rem;
  }

  @media screen and (max-width: variables.$m) {
    font-size: 3.0184rem;
  }

  @media screen and (max-width: variables.$s) {
    font-size: 2.744rem;
  }

  @media screen and (max-width: variables.$xs) {
    font-size: 2.4696rem;
  }
}

h2 {
  font-size: 2.548rem;
  line-height: 1.25;
  font-weight: 700;

  @media screen and (max-width: variables.$l) {
    font-size: 2.352rem;
  }

  @media screen and (max-width: variables.$m) {
    font-size: 2.156rem;
  }

  @media screen and (max-width: variables.$s) {
    font-size: 1.96rem;
  }

  @media screen and (max-width: variables.$xs) {
    font-size: 1.764rem;
  }
}

h3 {
  font-size: 1.82rem;
  line-height: 1.25;
  font-weight: 600;

  @media screen and (max-width: variables.$l) {
    font-size: 1.68rem;
  }

  @media screen and (max-width: variables.$m) {
    font-size: 1.54rem;
  }

  @media screen and (max-width: variables.$s) {
    font-size: 1.4rem;
  }

  @media screen and (max-width: variables.$xs) {
    font-size: 1.26rem;
  }
}

body, p, button, input, textarea {
  font-size: 1.3rem;
  line-height: 1.35;
  font-weight: 400;

  @media screen and (max-width: variables.$l) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: variables.$m) {
    font-size: 1.1rem;
  }

  @media screen and (max-width: variables.$s) {
    font-size: 1rem;
  }

  @media screen and (max-width: variables.$xs) {
    font-size: 0.9rem;
  }
}

button, input, textarea {
  font-weight: 500;
}

small {
  font-size: 1.04rem;
  line-height: 1.35;
  font-weight: 400;

  @media screen and (max-width: variables.$l) {
    font-size: 0.96rem;
  }

  @media screen and (max-width: variables.$m) {
    font-size: 0.88rem;
  }

  @media screen and (max-width: variables.$s) {
    font-size: 0.8rem;
  }

  @media screen and (max-width: variables.$xs) {
    font-size: 0.72rem;
  }
}
