@use "variables";

@font-face {
  font-family: "geist";
  font-display: swap;
  src: url("/assets/geist.woff2") format("woff2");
}

@font-face {
  font-family: "geist-mono";
  font-display: swap;
  src: url("/assets/geist-mono.woff2") format("woff2");
}

@font-face {
  font-family: "icon";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/icon.woff2") format('woff2');
}

body {
  font-family: "geist", sans-serif, monospace;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, p, small, a {
  display: inline;
  margin: 0;
  font-family: "geist", sans-serif;
  word-break: break-word;
  max-width: 80ch;
}

// todo maybe change to different type scale like 1.333, 1.414, 1.618

h1 {
  font-size: 3.1rem;
  line-height: 1.35;
  font-weight: 800;

  @media screen and (max-width: variables.$l) {
    font-size: 2.9rem;
  }

  @media screen and (max-width: variables.$m) {
    font-size: 2.7rem;
  }

  @media screen and (max-width: variables.$s) {
    font-size: 2.5rem;
  }

  @media screen and (max-width: variables.$xs) {
    font-size: 2.4rem;
  }
}

h2 {
  font-size: 2.6rem;
  line-height: 1.35;
  font-weight: 700;

  @media screen and (max-width: variables.$l) {
    font-size: 2.4rem;
  }

  @media screen and (max-width: variables.$m) {
    font-size: 2.2rem;
  }

  @media screen and (max-width: variables.$s) {
    font-size: 2rem;
  }

  @media screen and (max-width: variables.$xs) {
    font-size: 1.9rem;
  }
}

h3 {
  font-size: 2.1rem;
  line-height: 1.35;
  font-weight: 600;

  @media screen and (max-width: variables.$l) {
    font-size: 1.9rem;
  }

  @media screen and (max-width: variables.$m) {
    font-size: 1.7rem;
  }

  @media screen and (max-width: variables.$s) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: variables.$xs) {
    font-size: 1.4rem;
  }
}

body, p, button, input, textarea {
  font-size: 1.3rem;
  line-height: 1.35;
  font-weight: 400;

  @media screen and (max-width: variables.$l) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: variables.$m) {
    font-size: 1.1rem;
  }

  @media screen and (max-width: variables.$s) {
    font-size: 1rem;
  }

  @media screen and (max-width: variables.$xs) {
    font-size: 0.95rem;
  }
}

button, input, textarea {
  font-weight: 500;
}

small {
  font-size: 1.1rem;
  line-height: 1.35;
  font-weight: 400;

  @media screen and (max-width: variables.$l) {
    font-size: 1rem;
  }

  @media screen and (max-width: variables.$m) {
    font-size: 0.9rem;
  }

  @media screen and (max-width: variables.$s) {
    font-size: 0.8rem;
  }

  @media screen and (max-width: variables.$xs) {
    font-size: 0.75rem;
  }
}
