$breakpoint-xs: 20rem;
$breakpoint-s: 40rem;
$breakpoint-m: 60rem;
$breakpoint-l: 80rem;
$breakpoint-xl: 100rem;

$background: hsl(0, 0%, 100%);
$background-secondary: hsl(0, 0%, 95%);
$foreground: hsl(0, 0%, 0%);
$foreground-secondary: hsl(0, 0%, 10%);
