$xs: 20rem;
$s: 40rem;
$m: 60rem;
$l: 80rem;
$xl: 100rem;

$background: hsl(0, 0%, 100%);
$background-hover: hsl(0, 0%, 90%);
$background-secondary: hsl(0, 0%, 80%);
$foreground: hsl(0, 0%, 0%);
$foreground-hover: hsl(0, 0%, 15%);
$foreground-secondary: hsl(0, 0%, 50%);
