$breakpoint-xs: 20rem;
$breakpoint-s: 40rem;
$breakpoint-m: 60rem;
$breakpoint-l: 80rem;
$breakpoint-xl: 100rem;

$background: hsl(0, 0%, 100%);
$background-hover: hsl(0, 0%, 90%);
$foreground: hsl(0, 0%, 0%);
$foreground-hover: hsl(0, 0%, 15%);
$foreground-secondary: hsl(0, 0%, 50%);
