@use "../../../styles/variables";

.grid-item {
  width: 100%;
  height: 100%;

  @mixin grid-item__style($name, $size) {
    @media screen and (max-width: $size) {
      &[data-#{$name}span="1"] {
        grid-column: span 1;
      }

      &[data-#{$name}span="2"] {
        grid-column: span 2;
      }

      &[data-#{$name}span="3"] {
        grid-column: span 3;
      }

      &[data-#{$name}span="4"] {
        grid-column: span 4;
      }

      &[data-#{$name}span="5"] {
        grid-column: span 5;
      }

      &[data-#{$name}span="6"] {
        grid-column: span 6;
      }

      &[data-#{$name}span="7"] {
        grid-column: span 7;
      }

      &[data-#{$name}span="8"] {
        grid-column: span 8;
      }
    }
  }

  @include grid-item__style("xl", 100vw);
  @include grid-item__style("l", variables.$l);
  @include grid-item__style("m", variables.$m);
  @include grid-item__style("s", variables.$s);
  @include grid-item__style("xs", variables.$xs);
}
