@use "../../styles/variables";

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: all 350ms ease-in-out;

  justify-content: flex-end;

  &[data-open="true"] {
    visibility: visible;
    background-color: rgba(variables.$foreground, 0.5);
  }

  &[data-open="false"] {
    visibility: hidden;
    background-color: rgba(variables.$foreground, 0);
  }

  &__content {
    width: variables.$m;
    height: 100%;
    padding: 4rem;
    background-color: variables.$background;
    transition: all 350ms ease-in-out;

    flex-direction: column;
    gap: 2rem;

    &[data-open="true"] {
      translate: 0;
    }

    &[data-open="false"] {
      translate: 100%;
    }

    @media screen and (max-width: variables.$m) {
      padding: 3rem;
    }

    @media screen and (max-width: variables.$s) {
      padding: 2rem;
    }

    @media screen and (max-width: variables.$xs) {
      padding: 1rem;
    }

    &__head {
      justify-content: space-between;
      align-items: center;
    }

    &__body {
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;

      flex-direction: column;
    }
  }
}
