@use "../../../styles/variables";

.drawer {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto variables.$breakpoint-m;
  visibility: hidden;

  &__backdrop {
    background-color: variables.$foreground;
    opacity: 0;
    transition: opacity 150ms ease-in;
  }

  &__content {
    translate: 100%;
    padding: 4rem;
    background-color: variables.$background;
    transition: translate 150ms ease-in;
  }

  &[data-open="true"] {
    visibility: visible;
    background-color: red;
  }

  &.open {
    visibility: visible;

    &__backdrop {
      opacity: 0.5;
    }

    &__content {
      translate: 0;
    }
  }
}
