@use "../../../../styles/variables";

.icon-button {
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
  color: inherit;
  border: none;
  border-radius: 0.25rem;
  text-align: left;
  transition: all 150ms ease-in;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &[data-highlight="true"] {
    background-color: variables.$foreground;
    color: variables.$background;

    &:hover {
      background-color: variables.$foreground-secondary;
    }
  }

  &[data-highlight="false"] {
    background-color: variables.$background;
    color: variables.$foreground;

    &:hover {
      background-color: variables.$background-secondary;
    }
  }
}
