@use "../../../styles/variables";

.input-text {
  position: relative;
  width: 100%;
  height: 2rem;
  display: flex;

  &__input {
    width: 100%;
    height: 100%;
  }

  &__characters {
    position: absolute;
    right: 0;
    bottom: -1rem;
  }
}
