@use "../../styles/variables";

.shell {
  width: 100%;
  height: 100%;
  padding: 5rem;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr;
  gap: 6rem;

  @media screen and (max-width: variables.$xl) {
    padding: 4rem;
    gap: 5rem;
  }

  @media screen and (max-width: variables.$l) {
    padding: 3rem;
    gap: 4rem;
  }

  @media screen and (max-width: variables.$m) {
    padding: 2rem;
    gap: 3rem;
  }

  @media screen and (max-width: variables.$s) {
    padding: 1.5rem;
    gap: 2rem;
  }

  @media screen and (max-width: variables.$xs) {
    padding: 1rem;
    gap: 1rem;
  }

  &__logo {
    grid-row: 1;
    grid-column: 1;
    max-width: 32rem;
    max-height: 4rem;
    transition: variables.$transition-fast;
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;

    &:hover, &:focus {
      opacity: 0.6;
    }

    @media screen and (max-width: variables.$m) {
      max-height: 3rem;
    }
  }

  &__breadcrumbs {
    grid-row: 1;
    grid-column: 2;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    @media screen and (max-width: variables.$m) {
      grid-row: 2;
      grid-column: span 3;
    }
  }

  &__navigation {
    grid-row: 1;
    grid-column: 3;
    visibility: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    &[data-side="false"] {
      visibility: visible;
    }

    @media screen and (max-width: variables.$l) {
      visibility: visible;
    }

    @media screen and (max-width: variables.$m) {
      grid-row: 1;
      grid-column: span 2;
    }
  }

  &__side {
    grid-row: span 2;
    grid-column: 1;
    position: sticky;
    top: 4rem;
    height: fit-content;

    &[data-side="false"] {
      display: none;
    }

    @media screen and (max-width: variables.$l) {
      display: none;
    }
  }

  &__body {
    width: 100%;

    display: flex;
    flex-direction: column;

    &[data-side="true"] {
      grid-row: span 2;
      grid-column: span 2;

      @media screen and (max-width: variables.$l) {
        grid-row: span 2;
        grid-column: span 3;
      }

      @media screen and (max-width: variables.$m) {
        grid-row: span 1;
        grid-column: span 3;
      }
    }

    &[data-side="false"] {
      grid-row: span 2;
      grid-column: span 3;

      @media screen and (max-width: variables.$m) {
        grid-row: span 1;
        grid-column: span 3;
      }
    }
  }
}
