@use "../../styles/variables";

.image {
  position: relative;
  object-fit: cover;
  overflow: hidden;

  display: flex;

  &[data-side="width"] {
    width: 100%;
    height: auto;
  }

  &[data-side="height"] {
    width: auto;
    height: 100%;
  }

  &[data-side="both"] {
    width: 100%;
    height: 100%;
  }

  &[data-rounded="true"] {
    border-radius: 0.5rem;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(45deg, variables.$foreground, variables.$foreground-hover);
    background-size: 400% 400%;

    animation: 5000ms infinite image__loading;
  }
}

@keyframes image__loading {
  0%, 100% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
}
