@use "../../styles/variables";

.icon {
  aspect-ratio: 1;
  line-height: 0;
  font-family: 'lucide';
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  &[data-size="1"] {
    font-size: 1em;
  }

  &[data-size="1.5"] {
    font-size: 1.5em;
  }

  &[data-size="2"] {
    font-size: 2em;
  }

  &[data-size="3"] {
    font-size: 3em;
  }

  &[data-size="4"] {
    font-size: 4em;
  }
}
