@use "../../styles/variables";

.input {
  min-width: 16rem;
  padding: 1rem;
  background-color: variables.$background;
  border-radius: 0.25rem;
  transition: all 150ms ease-in;

  flex-direction: column;

  &__head {
    user-select: none;
  }

  &__body {
    padding: 0.5rem 0;
    border: none;
  }

  &__foot {

  }

  &:hover, &:focus-within {
    background-color: variables.$background-hover;
  }

  input:-webkit-autofill, input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }
}
