@use "../../styles/variables";

.point {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: variables.$s) {
    flex-direction: column;
  }

  &__information {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  &__control {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: variables.$s) {
      width: 100%;
    }
  }

  &__name {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.5rem 1rem;
    outline: 0.1rem solid variables.$foreground-secondary;
    outline-offset: -0.05rem;
  }

  &__points {
    width: 12rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    outline: 0.1rem solid variables.$foreground-secondary;
    outline-offset: -0.05rem;
  }

  &__button {
    height: 3rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0.1rem solid variables.$foreground-secondary;
    outline-offset: -0.05rem;

    &:hover, &:active, &:focus {
      background-color: variables.$background-hover;
    }

    @media screen and (max-width: variables.$s) {
      width: 100%;
    }
  }
}
