@use "../../styles/variables";

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  &[data-gap="1"] {
    gap: 1rem;
  }

  &[data-gap="2"] {
    gap: 2rem;
  }

  &[data-gap="4"] {
    gap: 4rem;
  }

  &[data-gap="6"] {
    gap: 6rem;
  }

  &[data-gap="8"] {
    gap: 8rem;
  }
}
