@use "../../../styles/variables";

.mario-graph {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: 2rem;

  &__bar {
    height: 4rem;
    border-radius: 1rem;

    &[data-code="mario"] {
      background-color: variables.$mario-mario;
      border: 0.25rem solid darken(variables.$mario-mario, 25);
      box-shadow: 0.5rem 0.5rem darken(variables.$mario-mario, 24);
    }

    &[data-code="peach"] {
      background-color: variables.$mario-peach;
      border: 0.25rem solid darken(variables.$mario-peach, 25);
      box-shadow: 0.5rem 0.5rem darken(variables.$mario-peach, 24);
    }

    &[data-code="luigi"] {
      background-color: variables.$mario-luigi;
      border: 0.25rem solid darken(variables.$mario-luigi, 25);
      box-shadow: 0.5rem 0.5rem darken(variables.$mario-luigi, 24);
    }

    &[data-code="daisy"] {
      background-color: variables.$mario-daisy;
      border: 0.25rem solid darken(variables.$mario-daisy, 25);
      box-shadow: 0.5rem 0.5rem darken(variables.$mario-daisy, 24);
    }

    &[data-code="yoshi"] {
      background-color: variables.$mario-yoshi;
      border: 0.25rem solid darken(variables.$mario-yoshi, 25);
      box-shadow: 0.5rem 0.5rem darken(variables.$mario-yoshi, 24);
    }

    &[data-code="kamek"] {
      background-color: variables.$mario-kamek;
      border: 0.25rem solid darken(variables.$mario-kamek, 25);
      box-shadow: 0.5rem 0.5rem darken(variables.$mario-kamek, 24);
    }

    &[data-code="donkey"] {
      background-color: variables.$mario-donkey;
      border: 0.25rem solid darken(variables.$mario-donkey, 25);
      box-shadow: 0.5rem 0.5rem darken(variables.$mario-donkey, 24);
    }

    &[data-code="bowser"] {
      background-color: variables.$mario-bowser;
      border: 0.25rem solid darken(variables.$mario-bowser, 25);
      box-shadow: 0.5rem 0.5rem darken(variables.$mario-bowser, 24);
    }
  }
}
