$xs: 20rem;
$s: 40rem;
$m: 60rem;
$l: 80rem;
$xl: 100rem;

$background: hsl(0, 0%, 100%);
$background-hover: hsl(0, 0%, 90%);
$background-secondary: hsl(0, 0%, 80%);
$foreground: hsl(0, 0%, 0%);
$foreground-hover: hsl(0, 0%, 15%);
$foreground-secondary: hsl(0, 0%, 30%);

// todo for safekeeping and maybe for future customization
$red: hsl(0, 65%, 55%);
$gold: hsl(45, 65%, 55%);
$yellow: hsl(90, 65%, 55%);
$green: hsl(135, 65%, 55%);
$turquoise: hsl(180, 65%, 55%);
$blue: hsl(225, 65%, 55%);
$violet: hsl(270, 65%, 55%);
$pink: hsl(315, 65%, 55%);

$transition-fast: all 100ms cubic-bezier(0.6, 0, 0.4, 1);
$transition-slow: all 200ms cubic-bezier(0.7, 0, 0.3, 1);
$transition-in-fast: all 100ms cubic-bezier(0, 0, 0.4, 1);
$transition-in-slow: all 200ms cubic-bezier(0, 0, 0.3, 1);
$transition-out-fast: all 100ms cubic-bezier(0.6, 0, 1, 1);
$transition-out-slow: all 200ms cubic-bezier(0.7, 0, 1, 1);

$mario-mario: hsl(355, 90%, 50%);
$mario-peach: hsl(335, 80%, 70%);
$mario-luigi: hsl(220, 90%, 30%);
$mario-daisy: hsl(35, 80%, 50%);
$mario-yoshi: hsl(100, 60%, 50%);
$mario-kamek: hsl(200, 90%, 50%);
$mario-donkey: hsl(20, 70%, 30%);
$mario-bowser: hsl(60, 80%, 50%);
