@use "../../../styles/variables";

.icon-button {
  width: 3.5em;
  height: 3.5em;
  border: none;
  border-radius: 0.25rem;
  text-align: left;
  transition: all 150ms ease-in;

  justify-content: center;
  align-items: center;

  &[data-highlight="true"] {
    background-color: variables.$foreground;
    color: variables.$background;

    &:hover, &:focus {
      background-color: variables.$foreground-hover;
    }
  }

  &[data-highlight="false"] {
    background-color: variables.$background;
    color: variables.$foreground;

    &:hover, &:focus {
      background-color: variables.$background-hover;
    }
  }
}
